<nav class = 'header'>
    <a href = '<%= root_path %>'>
      <%= image_tag('main_logo.jpg') %>
    </a>
  <div class = 'right-side'>
    <div>
      <%= link_to 'Contact Us', new_contact_path %>
    </div>
    <div>
      <%= link_to 'All Contacts', contacts_path %>
    </div>
  </div>
</nav>
